body {
  color: #4f6b72;
  font: normal 14px/1.29 Helvetica, sans-serif;
  padding-bottom: (36em/14);
}

#content {
  width: 960px;
  margin: 0 auto;
}

h1 {
  font-size: 2em;
  line-height: 1.29em;
  margin: 1.29em 0 0;
}

p {
  margin: 1.29em 0;
  text-align: justify;
}

a {
  color: #c75f3e;
}

ul {
  list-style: none;
  padding: .65em 0;
}

ul li {
  float: left;
  padding-right: 2em;
}

table {
  clear: both;
  padding: 0;
  margin: 0;
  width: 900px;
}

caption {
   font-size: 1.5em;
   line-height: 1.67em;
   margin: 1.67em 0 0;
}

tr:nth-child(even) { background: #eee8d5 }
tr:nth-child(odd)  { background: #fdf6e3 }

th {
  text-align: left;
  font: bold 11px Helvetica;
  color: #4f6b72;
}

td, th {
  padding: .5em .5em .5em 1em;
  color: #4f6b72;
}

thead {
  tr {
    th {
      background: #586e75;
      color: #93a1a1;
    }
  }
}

td.dropped {
  color: #dc322f;
}