<tr>
  <td><%= quarter_score_lists_counter +1 %></td>
  <td><%= quarter_score_lists.first_name %></td>
  <td><%= quarter_score_lists.last_name %></td>
  <td><%= quarter_score_lists.origin %></td>
  <td class="day1"></td>
  <td class="day2"></td>
  <td class="final"></td>
</tr>
