<table class="sortable" border="0" cellspacing="0" cellpadding="0">
  <caption><%= round.title %></caption>
  <thead>
    <tr id="headrow">
      <th>#</th>
      <th>First</th>
      <th>Last</th>
      <th>Country</th>
      <th>Judge 1</th>
      <th>Judge 2</th>
      <th>Judge 3</th>
      <th>Judge 4</th>
      <th>Judge 5</th>
      <th>Judge 6</th>
      <th>Judge 7</th>
      <th>Judge 8</th>
      <th>Judge 9</th>
      <th>Avg</th>
    </tr>
  </thead>

  <tbody>
    <%= render :partial => "score_lists", :collection => round.score_lists %>
  </tbody>
</table>
