<h3><%= round.title %></h3>
<table class="sortable" border="0" cellspacing="0" cellpadding="0">
  <thead>
    <tr class="headrow">
      <th>#<span class="tri"></span></th>
      <th>First<span class="tri"></span></th>
      <th>Last<span class="tri"></span></th>
      <th>Country<span class="tri"></span></th>
      <th><span class="tri"></span></th>
      <th><span class="tri"></span></th>
      <th><span class="tri"></span></th>
      <th><span class="tri"></span></th>
      <th><span class="tri"></span></th>
      <th><span class="tri"></span></th>
      <th><span class="tri"></span></th>
      <th><span class="tri"></span></th>
      <th><span class="tri"></span></th>
      <th class="avg">Avg<span class="tri"></span></th>
    </tr>
  </thead>

  <tbody class="<%= round.grouping %>">
    <%= render :partial => "score_lists", :collection => round.score_lists %>
  </tbody>
</table>
