<table class="sortable" border="0" cellspacing="0" cellpadding="0">
  <caption><%= round.title %></caption>
  <thead>
    <tr>
      <th>#<span></span></th>
      <th>First<span></span></th>
      <th>Last<span></span></th>
      <th>Country<span></span></th>
      <th><span></span></th>
      <th><span></span></th>
      <th><span></span></th>
      <th><span></span></th>
      <th><span></span></th>
      <th><span></span></th>
      <th><span></span></th>
      <th><span></span></th>
      <th><span></span></th>
      <th class="avg">Avg<span></span></th>
    </tr>
  </thead>

  <tbody class="<%= round.grouping %>">
    <%= render :partial => "score_lists", :collection => round.score_lists %>
  </tbody>
</table>
